.icon-wrapper{
    width: 35px;
    height: 35px;
    position: relative;
}

.icon-wrapper::after{
    content: attr(data-number);
    width: 14px;
    height: 14px;
    font-size: smaller;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: grid;
    place-content: center;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0;
    opacity: 1;
    transform: translateY(3px);
}

.icon-wrapper:hover::after{
    opacity: 1;
    transform: translateY(0);
    transition: opacity .25s,
    transform .25s;
}

.bell-icon{
    max-width: 100%;
}

.icon-wrapper:hover .bell-icon{
    animation: shake 1s forwards;
}

@keyframes shake{
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(0deg);

    }
}
